* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
    background: rgb(30, 30, 30);
}

h1 {
        font-family: "Passion One", sans-serif;
        font-size: 82px;
        font-weight: 400;
        font-style: normal;
        color: white;  
        height: 100%;
        min-height: 200px;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

p {
    text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        color: white;  
        height: 100%;
        min-height: 200px;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.container {
    text-align: center; /* Centraliza o conteúdo dentro do contêiner */
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.botao {
    font-family: "Passion One", sans-serif;
    width: 382px;
    height: 51px;
    padding: 10px 20px;
    font-size: 27px;
    background-color: #ffd900; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

.botao:hover {
    background-color: #966000; /* Cor de fundo do botão ao passar o mouse */
}

h2 {
    color: white;
    width: 200vh;
        font-family: "Passion One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 51px;
        text-align: center;
}

h3 {
    font-family: "Passion One", sans-serif;
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        color: white;  
        height: 100%;
        min-height: 200px;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    color: white;
    font-size: 30px;
}