*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgba(0, 0, 0, 0.952);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 78px;
    line-height: 100px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.295);
}

.nav-menu {
    width: 150vh;
}

.btn {
     color: white;
     font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li{
    list-style: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, :active {
    border-bottom: 2px solid #fff;
}

.nav-button {
    color: white;
    font-size: 25px;
    top: 500px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 300px;
    line-height: 300px;
    z-index: 100;

}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255,255,255, 0.4);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease;
}

.net {
    color: white;
    font-size: 25px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 225px;
    height: 78px;
    line-height: 300px;
    z-index: 100;

}

.level {
    color: white;
    font-size: 50px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 530px;
    height: 78px;
    line-height: 700px;
    z-index: 100;
}

.btn.white-btn {
    background: rgba(255, 2, 2, 0.651);
}

img {
    max-width: 100%;
    height: auto;
}