* {
    background-color: rgba(0, 0, 0, 0.952);
}

.site {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: white;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 100px;
    line-height: 25px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.89);
}

.nav-netflix {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu {
    background-color: rgba(0, 0, 0, 0.89);;
}

.nav-menu ul {
    display: flex;
 
}

.nav-menu ul li{
    list-style-type: none;
    font-weight: 500;
    color: #fff;
    margin: 0 25px;
}

.name {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    z-index: 100;
}